<!DOCTYPE html>

<html ng-app="kittiesApp" lang='en'>
	<head>

		<title>Kitties App!</title>


		<link rel="stylesheet" href="css/style.css">

	</head>

	<body>
		<div id="container" ng-controller="KittiesController as Kitties">
			<h1>Kitty Adoption</h1>
			<div class="left-container">
				<h2>Kitties for Adoption</h2>
					<div class="dashed" ng-repeat="k in Kitties.kittiesList | filter:false" >
						<h2>My Name is {{k.catName}}</h2>
						<img ng-src="{{k.image}}"/>
						<p>I am months {{k.monthsOld}} old</p>
						<p>I am a {{k.gender}}</p>
						<p>
							Adopt Me?
							<input type="checkbox" ng-model="k.adopted">
						</p>
					</div>
			</div>

			<div class="right-container">
				<h2>Adopted Kitties</h2>
					<div class="dashed" ng-repeat="k in Kitties.kittiesList | filter:true" >
						<h2>My Name is {{k.catName}}</h2>
						<img ng-src="{{k.image}}"/>
						<p>I am months {{k.monthsOld}} old</p>
						<p>I am a {{k.gender}}</p>
						<p>
							Abandon Me :(
							<input type="checkbox" ng-model="k.adopted">
						</p>
					</div>
			</div>
		</div>

    <!--Sourcing Angular-->

		<!-- Source in module -->

		<!-- Source in controller -->

		<script src="js/angular.min.js" charset="utf-8"></script>
		<script src="js/main.js" charset="utf-8"></script>
		<script src="js/KittiesController.js" charset="utf-8"></script>
	</body>
</html>
